<a href="https://colab.research.google.com/github/Emmi-1406/FML/blob/main/Fifa19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import seaborn as sbn

In [4]:
data = pd.read_csv('/content/FIFA-2019.csv')

In [5]:
data.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [6]:
data.tail()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
6243,6243,240802,J. Repas,21,https://cdn.sofifa.org/players/4/19/240802.png,Slovenia,https://cdn.sofifa.org/flags/44.png,69,80,Stade Malherbe Caen,...,55.0,44.0,40.0,39.0,14.0,13.0,6.0,8.0,6.0,€4M
6244,6244,135587,N. Mäenpää,33,https://cdn.sofifa.org/players/4/19/135587.png,Finland,https://cdn.sofifa.org/flags/17.png,69,69,Bristol City,...,41.0,13.0,9.0,12.0,70.0,69.0,65.0,66.0,66.0,€998K
6245,6245,212643,P. Cibicki,24,https://cdn.sofifa.org/players/4/19/212643.png,Sweden,https://cdn.sofifa.org/flags/46.png,69,74,Molde FK,...,64.0,25.0,32.0,30.0,8.0,8.0,7.0,12.0,6.0,NaN
6246,6246,222883,T. Touré,24,https://cdn.sofifa.org/players/4/19/222883.png,Ivory Coast,https://cdn.sofifa.org/flags/108.png,69,72,Angers SCO,...,69.0,37.0,42.0,35.0,10.0,14.0,9.0,12.0,8.0,€2.8M
6247,6247,245411,T. Jibril,20,https://cdn.sofifa.org/players/4/19/245411.png,Nigeria,https://cdn.sofifa.org/flags/133.png,69,76,Portimonense SC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
data.describe()

,Unnamed: 0,ID,Age,Overall,Potential,Special,International Reputation,Weak Foot,Skill Moves,Jersey Number,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,6248.000000,6248.000000,6248.000000,6248.000000,6248.000000,6248.000000,6248.000000,6248.000000,6248.000000,6247.000000,...,6247.000000,6247.000000,6247.000000,6247.000000,6247.000000,6247.000000,6247.000000,6247.000000,6247.000000,6247.000000
mean,3123.500000,201153.869718,27.142766,73.582746,76.031530,1773.030410,1.317222,3.088988,2.710948,16.470146,...,54.646870,67.639667,53.048183,53.340644,50.576917,16.284617,16.058588,15.807107,16.165840,16.360653
std,1803.786573,30900.577868,4.082561,3.918802,4.882758,240.697923,0.612718,0.698798,0.826561,15.001410,...,16.076182,8.809434,21.090858,22.971641,23.016981,18.426842,17.588214,16.864344,18.007711,18.782952
min,0.000000,16.000000,17.000000,69.000000,69.000000,907.000000,1.000000,1.000000,1.000000,1.000000,...,9.000000,3.000000,7.000000,7.000000,8.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1561.750000,188533.000000,24.000000,71.000000,72.000000,1696.000000,1.000000,3.000000,2.000000,7.000000,...,45.000000,63.000000,34.000000,32.000000,28.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,3123.500000,205276.000000,27.000000,73.000000,75.000000,1822.000000,1.000000,3.000000,3.000000,13.000000,...,58.000000,68.000000,61.000000,65.000000,61.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,4685.250000,222360.500000,30.000000,76.000000,79.000000,1926.000000,1.000000,3.000000,3.000000,22.000000,...,67.000000,73.000000,70.000000,73.000000,71.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,6247.000000,246405.000000,45.000000,94.000000,95.000000,2346.000000,5.000000,5.000000,5.000000,99.000000,...,92.000000,96.000000,94.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [11]:
data.shape

(6248, 89)

In [12]:
data.isnull()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6243,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6244,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6245,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
6246,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6247,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True

In [13]:
data.isnull().sum()

Unnamed: 0          0
ID                  0
Name                0
Age                 0
Photo               0
                 ...
GKHandling          1
GKKicking           1
GKPositioning       1
GKReflexes          1
Release Clause    592
Length: 89, dtype: int64

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6248 entries, 0 to 6247
Data columns (total 89 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                6248 non-null   int64
 1   ID                        6248 non-null   int64
 2   Name                      6248 non-null   object
 3   Age                       6248 non-null   int64
 4   Photo                     6248 non-null   object
 5   Nationality               6248 non-null   object
 6   Flag                      6248 non-null   object
 7   Overall                   6248 non-null   int64
 8   Potential                 6248 non-null   int64
 9   Club                      6148 non-null   object
 10  Club Logo                 6248 non-null   object
 11  Value                     6248 non-null   object
 12  Wage                      6248 non-null   object
 13  Special                   6248 non-null   int64
 14  Preferred Foot            6248 non-null   object
 15  International Reputation  6248 non-null   int64
 16  Weak Foot                 6248 non-null   int64
 17  Skill Moves               6248 non-null   int64
 18  Work Rate                 6248 non-null   object
 19  Body Type                 6248 non-null   object
 20  Real Face                 6248 non-null   object
 21  Position                  6247 non-null   object
 22  Jersey Number             6247 non-null   float64
 23  Joined                    5660 non-null   object
 24  Loaned From               488 non-null    object
 25  Contract Valid Until      6148 non-null   object
 26  Height                    6248 non-null   object
 27  Weight                    6248 non-null   object
 28  LS                        5695 non-null   object
 29  ST                        5695 non-null   object
 30  RS                        5695 non-null   object
 31  LW                        5695 non-null   object
 32  LF                        5695 non-null   object
 33  CF                        5695 non-null   object
 34  RF                        5695 non-null   object
 35  RW                        5695 non-null   object
 36  LAM                       5695 non-null   object
 37  CAM                       5695 non-null   object
 38  RAM                       5695 non-null   object
 39  LM                        5695 non-null   object
 40  LCM                       5695 non-null   object
 41  CM                        5695 non-null   object
 42  RCM                       5695 non-null   object
 43  RM                        5695 non-null   object
 44  LWB                       5695 non-null   object
 45  LDM                       5695 non-null   object
 46  CDM                       5695 non-null   object
 47  RDM                       5695 non-null   object
 48  RWB                       5695 non-null   object
 49  LB                        5695 non-null   object
 50  LCB                       5695 non-null   object
 51  CB                        5695 non-null   object
 52  RCB                       5695 non-null   object
 53  RB                        5695 non-null   object
 54  Crossing                  6247 non-null   float64
 55  Finishing                 6247 non-null   float64
 56  HeadingAccuracy           6247 non-null   float64
 57  ShortPassing              6247 non-null   float64
 58  Volleys                   6247 non-null   float64
 59  Dribbling                 6247 non-null   float64
 60  Curve                     6247 non-null   float64
 61  FKAccuracy                6247 non-null   float64
 62  LongPassing               6247 non-null   float64
 63  BallControl               6247 non-null   float64
 64  Acceleration              6247 non-null   float64
 65  SprintSpeed               6247 non-null   float64
 66  Agility                   6247 non-null   float64
 67  Reactions                 6247 non-null   float64
 68  Balance                   6247 non-null   float64
 69  ShotPower                 6247 non-null   float64
 70  Jumping                   6247 non-null   float64
 71  Stamina                   6247 non-null   float64
 72  Strength                  6247 non-null   float64
 73  LongShots                 6247 non-null   float64
 74  Aggression                6247 non-null   float64
 75  Interceptions             6247 non-null   float64
 76  Positioning               6247 non-null   float64
 77  Vision                    6247 non-null   float64
 78  Penalties                 6247 non-null   float64
 79  Composure                 6247 non-null   float64
 80  Marking                   6247 non-null   float64
 81  StandingTackle            6247 non-null   float64
 82  SlidingTackle             6247 non-null   float64
 83  GKDiving                  6247 non-null   float64
 84  GKHandling                6247 non-null   float64
 85  GKKicking                 6247 non-null   float64
 86  GKPositioning             6247 non-null   float64
 87  GKReflexes                6247 non-null   float64
 88  Release Clause            5656 non-null   object
dtypes: float64(35), int64(9), object(45)
memory usage: 4.2+ MB

In [16]:
data['Age'].fillna(27.142766,inplace=True)
print('No.of null values in age column is:',data['Age'].isnull().sum())

No.of null values in age column is: 0

In [17]:
data['Age'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
6243    False
6244    False
6245    False
6246    False
6247    False
Name: Age, Length: 6248, dtype: bool

In [18]:
data.size

556072

In [20]:
data['Age'].dropna()

0       31
1       33
2       26
3       27
4       27
        ..
6243    21
6244    33
6245    24
6246    24
6247    20
Name: Age, Length: 6248, dtype: int64